node_modules
.svelte-kit
build
.git
.github
.vscode
.idea
.DS_Store

*.md
!README.md

.env
.env.*
!.env.example

benchmark
benchmark-report-*.json
test-environment
coverage
.nyc_output

*.log
npm-debug.log*
.pnpm-debug.log*
